﻿@model IEnumerable<CsiMediaTechnicalTest.DataAccess.Models.SortOperation>

@if (Model.Any())
{
    <table class="table">
        <thead>
        <tr>
            <th>Sorted Numbers</th>
            <th>Sort Order</th>
            <th>Sort Time</th>
            <th>Duration (ms)</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var operation in Model)
            {
                <tr>
                    <td>@operation.SortedNumbers</td>
                    <td>@operation.SortOrder</td>
                    <td>@operation.SortTime</td>
                    <td>@operation.Duration.TotalMilliseconds</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="mt-2">No data to display</p>
}