﻿@model CsiMediaTechnicalTest.DataAccess.Models.SortInputModel

@{
    ViewData["Title"] = "Number Sorter";

    var sortResults = ViewBag.SortOperations as IEnumerable<SortOperation>;
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="mt-1 alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="mt-1 alert alert-danger">
        <ul>
            @foreach (var error in ViewData.ModelState.Keys.SelectMany(key => ViewData.ModelState[key].Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}

<h2>Enter Numbers to Sort</h2>

<form asp-action="SortNumbers" method="post">
    <div class="form-group">
        <label for="numbers">Numbers:</label>
        <textarea id="numbers" name="Numbers" class="form-control"></textarea>
        <span>Enter numbers separated by commas or spaces</span>
    </div>
    
    <div class="mt-2 form-group">
        <label for="sortOrder">Sort Order:</label>
        <select id="sortOrder" name="SortOrder" class="form-control">
            <option value="Ascending">Ascending</option>
            <option value="Descending">Descending</option>
        </select>
    </div>
    
    <button type="submit" class="mt-3 btn btn-primary">Sort Numbers</button>
</form>

<div class="mt-4 d-inline-flex">
    <h2>Sorting Results</h2>
    
    @if (sortResults.Any())
    {
        <a href="@Url.Action("ExportToJson", "Sort")" class="btn btn-primary h-25 m-auto ms-3">
            Export as JSON
        </a>
    }
</div>

@await Html.PartialAsync("_SortResultsPartial", sortResults)